.page-content {
  padding-bottom: 10rem;
}

.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 15rem;
}

.title-section .title {
  margin: 0;
  font-weight: 800;
  padding-left: 7.5rem;
}

.title-section .subtitle {
  margin: 0;
  font-size: 1.5rem;
  padding-left: 7.5rem;
  color: #555555;
}

.content-section {
  width: 100%;
  height: 36rem;
  display: flex;
  margin: 2rem 0;
  align-items: center;
}

@media (max-width: 1080px) {
  .content-section {
    flex-wrap: wrap;
  }
}

.content-section .image-box {
  width: 30%;
  margin-left: 7.5rem;
  display: flex;
  justify-content: flex-end;
}

.content-section .image-box img {
  width: max-content;
  height: max-content;
  max-height: 100%;
  margin-right: 4rem;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  height: 70%;
}

.text-box .section-title {
  color: #ff4081;
  font-size: 2.6rem;
  font-weight: 700;
}

.text-box .section-content {
  color: #555555;
  font-weight: 300;
  font-size: 1.2rem;
  width: 50rem;
}

.text-box .section-button {
  width: 13.93rem;
  height: 3rem;
  font-size: 1.25rem;
  margin-top: 2.5rem;
  border-radius: 3.875rem;
  background: #419488;
  color: white;
  cursor: pointer;
  border: none;
  transition: 0.2s ease-in-out;
}

.text-box .section-button:hover {
  background: white;
  color: #419488;
  border: 2px solid #419488;
}

.divider {
  width: 92%;
  height: 5px;
  background: #c4c4c4;
  margin: 4rem auto;
}
