body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #ffffff;
  box-sizing: border-box;
  font-family: "Ubuntu";
}

* {
  box-sizing: border-box;
}

.page-curso-intro {
  padding: 80px 98px;
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
}

.banner-container {
  max-width: 512px;
}

.banner-title {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  color: #ff4081;
}

.page-curso {
  background: #f7f7f7;
  padding: 0 98px;
}

.curso-aula {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid #c4c4c4;
}

.curso-aula:last-of-type {
  border-bottom: none;
}

.curso-aula p {
  max-width: 500px;
}

.banner-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  padding: 100px 0 0;
}

.banner-title-2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  color: #ff4081;
}

@media only screen and (max-width: 1080px) {
  .page-curso-intro {
    padding: 40px;
  }
  .banner > .banner-container {
    margin-right: 0;
  }

  .banner-title {
    font-size: 45px;
  }

  .banner > .banner-img {
    display: none;
  }

  .banner-2 .curso-aula {
    flex-direction: column;
    margin: 30px 0;
  }

  .banner-2 > .curso-aula > .curso-iframe {
    max-width: 100%;
  }

  .banner-2 > .curso-aula > .curso-iframe iframe {
    width: 100%;
  }
  .banner-2 .banner-iframe {
    margin: 0;
  }
  .page-curso {
    padding: 40px 16px;
  }
  .btn-menu-mobile {
    width: 30px;
  }
}
