html {
  scroll-behavior: smooth;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  width: 100%;
  margin: 0;
  background: #ffffff;
  box-sizing: border-box;
  font-size: 16px;
}

body,
a,
button,
ipunt {
  font-family: "Ubuntu", sans-serif;
}

header {
  background: #2e948a;
  padding: 20px 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease-in-out;
}

header a:hover {
  color: #01645a;
}

.header-navigation > a {
  color: #fdfdfd;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-right: 37px;
}

.header-navigation > a:last-of-type {
  margin-right: 0;
}

.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
  margin: 1rem 0;
}

.banner .textbanner {
  display: block;
  width: 50%;
  height: 100%;
  padding: 2rem;
}

.banner .textbanner .title {
  width: 28rem;
  font-weight: 800;
}

.banner .img-banner {
  width: 50%;
  height: 100%;
}
.banner .img-banner img {
  width: 28rem;
  margin: 8rem 10rem;
}

.title {
  border-radius: undefinedpx;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 69px;

  color: #ff4081;
}

.pbanner {
  width: 442px;
  height: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 31px;

  color: #555555;
}

.wantmore {
  font-size: 27px;
  line-height: 31px;

  color: #ff4081;

  width: 268px;
  height: 51px;

  border: 2px solid #ff4081;
  border-radius: 62px;
  background-color: #ffffff;
}

.imgbanner {
  position: absolute;
  left: 50.9%;
  right: 14.31%;
  top: 7.88%;
  bottom: 76.13%;

  border: 2px solid #fff;
}

.cursos {
  width: 100%;
  height: fit-content;
  margin: 3rem 0;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 2;
}

.iniciantes {
  width: 344px;
  height: 504px;
  left: 128px;
  top: 938px;
}

.imginiciantes {
  width: 242px;
  height: auto;
  left: 10.83%;
  right: 69.17%;
  top: 29.34%;
  bottom: 62.21%;

  background: #f7f7f7;
}

.title2 {
  width: 344px;
  height: 29px;
  left: 128px;
  top: 1253px;

  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  color: #ff4081;
}

.paragrafo1 {
  width: 293px;
  height: 60px;
  left: 154px;
  top: 1305px;

  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  text-align: center;

  color: #000000;
}

.botao1 {
  width: 233px;
  height: 51px;
  left: 184px;
  top: 1391px;
  color: #ffffff;
  border: #ffffff;
  background: #ff4081;
  border-radius: 62px;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}

.poupando {
  width: 293px;
  height: 502px;
  left: 593px;
  top: 938px;
}

.imgpoupando {
  width: 238px;
  height: auto;
  left: 10.83%;
  right: 69.17%;
  top: 29.34%;
  bottom: 62.21%;

  background: #f7f7f7;
}

.title3 {
  width: 344px;
  height: 29px;
  left: 128px;
  top: 1253px;

  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  color: #ff4081;
}

.paragrafo2 {
  width: 293px;
  height: 60px;
  left: 154px;
  top: 1305px;

  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  text-align: center;

  color: #000000;
}

.botao2 {
  width: 233px;
  height: 51px;
  left: 184px;
  top: 1391px;
  color: #ffffff;
  border: #ffffff;
  background: #ff4081;
  border-radius: 62px;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}

.independencia {
  width: 304px;
  height: 502px;
  left: 1007px;
  top: 938px;
}

.imgindependencia {
  width: 184px;
  height: auto;
  left: 10.83%;
  right: 69.17%;
  top: 29.34%;
  bottom: 62.21%;

  background: #f7f7f7;
}

.title4 {
  width: 344px;
  height: 29px;
  left: 128px;
  top: 1253px;

  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #ff4081;
}

.paragrafo3 {
  width: 293px;
  height: 60px;
  left: 154px;
  top: 1305px;

  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  text-align: center;

  color: #000000;
}

.botao3 {
  width: 233px;
  height: 51px;
  left: 184px;
  top: 1391px;
  color: #ffffff;
  border: #ffffff;
  background: #ff4081;
  border-radius: 62px;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}

.section {
  background: #e5e5e5;
}

.container {
  margin: auto;
}

.depoimentos {
  position: absolute;
  width: 478px;
  height: 50px;
  left: 128px;
  top: 1678px;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 50px;

  color: #009688;
}

.post-section {
  max-width: 1440px;
  max-height: 730px;
  margin-top: 1700px;
  margin-left: 128px;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  padding: 20px;
}

.wally p {
  position: absolute;
  width: 363px;
  height: 70.27px;
  left: 260px;
  top: 1806px;

  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;

  color: #000000;
}

.wally img {
  position: absolute;
  width: 104px;
  height: 104px;
  left: 128px;
  top: 1806px;

  background: #ffffff;
  border: 2px solid #ff4081;
  box-sizing: border-box;
  border-radius: 50px;
}

.jaden p {
  position: absolute;
  width: 363px;
  height: 70.27px;
  left: 852px;
  top: 1806px;

  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;

  color: #000000;
}

.jaden img {
  position: absolute;
  width: 104px;
  height: 104px;
  left: 720px;
  top: 1806px;

  background: #ffffff;
  border: 2px solid #ff4081;
  box-sizing: border-box;
  border-radius: 50px;
}

.whoopi p {
  position: absolute;
  width: 363px;
  height: 73.65px;
  left: 255px;
  top: 1996px;

  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;

  color: #000000;
}

.whoopi img {
  position: absolute;
  width: 104px;
  height: 104px;
  left: 128px;
  top: 1996px;

  background: #ffffff;
  border: 2px solid #ff4081;
  box-sizing: border-box;
  border-radius: 50px;
}

.janes p {
  position: absolute;
  width: 363px;
  height: 71.62px;
  left: 840px;
  top: 1997px;

  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;

  color: #000000;
}

.janes img {
  position: absolute;
  width: 104px;
  height: 104px;
  left: 714px;
  top: 2001px;

  background: #ffffff;
  border: 2px solid #ff4081;
  box-sizing: border-box;
  border-radius: 50px;
}

.section2 {
  background: #e5e5e5;
}

.container {
  margin: auto;
}

.conteudo {
  position: absolute;
  width: 530px;
  height: 43px;
  left: 128px;
  top: 2351px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 43px;

  color: #009688;
}

.post-section2 {
  width: 319px;
  height: 114px;
  left: 984px;
  top: 2671px;
  display: flex;

  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 31px;

  color: #009688;
}

.botão {
  width: 289px;
  margin: 500px auto;
  font-size: 25px;
  line-height: 29px;
  border: 2px solid #ff4081;
  box-sizing: border-box;
  border-radius: 62px;
}

footer {
  display: flex;
  background: #2e948a;
  height: 12.9rem;
  align-items: center;
  justify-content: space-between;
}

footer .logo {
  width: fit-content;
  margin-left: 8rem;
  height: auto;
}

footer .logo img {
  height: 6.3rem;
  width: auto;
}

footer .links {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

footer .links ul {
  list-style: none;
}

footer .links ul li {
  padding: 0.5rem 0;
  color: #fff;
  font-weight: 400;
}

footer ul li a {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

footer ul li a:hover {
  color: #01645a;
}

footer a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

footer .btn-footer {
  display: grid;
  place-content: center;
  margin-right: 8.5rem;
}
footer .btn-footer a:nth-child(2) {
  margin-top: 13px;
}

footer .btn-footer a {
  display: grid;
  place-content: center;
  width: 17rem;
  font-size: 1.25rem;
  border: 2px solid white;
  border-radius: 62px;
  padding: 0.5rem 1rem;
  transition: 500ms ease;
  transition: 0.2s ease-in-out;
}

footer .btn-footer a:hover {
  background: white;
  color: #419488;
  transition: 500ms ease;
}

@media screen and (max-width: 767px) {
  .post-section2 {
    display: grid;
  }
}
